@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ewelinaprockow\/Desktop\/Code\%20Fellows\/sass-demo\/app\/styles\/custom\.scss}line{font-family:\0000311}}
body {
  background-color: white;
  font-family: 'EB Garamond', serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ewelinaprockow\/Desktop\/Code\%20Fellows\/sass-demo\/app\/styles\/custom\.scss}line{font-family:\0000315}}
.page {
  height: 100vh;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ewelinaprockow\/Desktop\/Code\%20Fellows\/sass-demo\/app\/styles\/custom\.scss}line{font-family:\0000318}}
.sub-nav {
  background-color: #cc6699;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ewelinaprockow\/Desktop\/Code\%20Fellows\/sass-demo\/app\/styles\/custom\.scss}line{font-family:\0000323}}
.sub-nav li.active a {
  background-color: #7f3359;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ewelinaprockow\/Desktop\/Code\%20Fellows\/sass-demo\/app\/styles\/custom\.scss}line{font-family:\0000327}}
.sub-nav li a {
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ewelinaprockow\/Desktop\/Code\%20Fellows\/sass-demo\/app\/styles\/custom\.scss}line{font-family:\0000330}}
p {
  padding: 1em;
  text-align: center -200px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ewelinaprockow\/Desktop\/Code\%20Fellows\/sass-demo\/app\/styles\/custom\.scss}line{font-family:\0000334}}
.logo {
  margin: auto;
  position: relative;
  width: 50%;
  left: 25%;
  padding-top: 5%;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ewelinaprockow\/Desktop\/Code\%20Fellows\/sass-demo\/app\/styles\/custom\.scss}line{font-family:\0000343}}
h1, h2, h3 {
  padding-top: 10vh;
  text-align: center;
  font-size: 3em;
  border-bottom: 4px solid #7f3359;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ewelinaprockow\/Desktop\/Code\%20Fellows\/sass-demo\/app\/styles\/custom\.scss}line{font-family:\0000349}}
h2, h3 {
  color: #b0d29e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ewelinaprockow\/Desktop\/Code\%20Fellows\/sass-demo\/app\/styles\/custom\.scss}line{font-family:\0000356}}
li {
  font-size: 2em;
}
